*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.png);
    font-family: 'Nunito', sans-serif;
}

h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 2rem;
}

.p{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    background-color: #b3b3b3;
    padding-bottom: 5%;
    margin-top: 1%;
    border-radius: 5px;
}
.pregunta{
    font-weight: 700;
}

.r{
    background-color: #b3b3b3;
    text-align: justify;
    
}


